/* commons */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    /* flex-wrap: wrap; */
}

.box {
    background-color: #ffc0cb;
    border: 1px solid black;
    height: 200px;
    line-height: 200px;
    text-align: center;
    padding: 5px;
}

.box_nested {
    background-color: #f07f80;
    border: 1px solid rgb(255, 255, 255);
    height: 190px;
    line-height: 190px;
    text-align: center;
 
}


